@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
	margin: 0;
	padding: 0;
	background-color: white;
	background-size: cover;
	font-family: poppins;
	font-color: black;
}

h1 {
	margin-left: 360px;
	margin-top: 40px;
}

h2 {
	margin-left: 15px;
}

p {
	font-size: 16px;
	margin-left: 25px;
	margin-right: 385px;
	text-align: justify;
}

a {
	display: block;
	color: black;
	text-decoration: none;
}
a:visited {
	display: block;
	color: black;
	text-decoration: none;
}
a:hover {
	display: block;
	color: #03a9f4;
	text-decoration: none;
}

.slider {
	margin-top: 5px;
	margin-left: 270px;
	width: 50%;
}
.slider img {
	width: 100%;
	height: 100%;
	margin-left: -60px;
}

.btn {
	border: none;
	outline: none;
	background: #888;
	padding: 10px 30px;
	font-size: 20px;
	color: #ddd;
	cursor: pointer;
	margin-top: 10px auto;
	margin-left: 140px;
}
.btn:hover {
	background: #03a9f4;
}

.imm {
	position: relative;
	top: -70px;
	padding: 20px;
}

.vls {
	border-left: 6px solid #03a9f4;
	height: 750px;
	margin-left: 365px;
}
.vlg {
	border-left: 6px solid #03a9f4;
	height: 360px;
	margin-left: 365px;
}
.vlssp {
	border-left: 6px solid #03a9f4;
	height: 240px;
	margin-left: 365px;
}
.vles {
	border-left: 6px solid #03a9f4;
	height: 380px;
	margin-left: 365px;
}
.vles img {
	margin-left: 460px;
}

.box {
	width: 700px;
	background: #fff;
	padding: 30px;
	text-align: center;
	color: black;
	margin: auto;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.box h3 {
	font-size: 28px;
	text-align: center;
}
.box p {
	font-size: 18px;
	text-align: justify;
	font-color: black;
	margin-right: 10px;
}
.box ul {
	margin: 0;
	padding: 0;
}
.box li {
	display: inline-block;
	margin: 8px;
	list-style: none;
}
.box li .fa {
	font-size: 40px;
	line-height: 80px;
	transition: .6s;
	color: black;
}
.box li a {
	position: relative;
	display: block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: white;
	text-align: center;
	transition: 0.6s;
	box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.box li a:hover {
	color: #b9b9b9;
	transform: translate(0, -10px);
}

.socials ul li:nth-child(1) a:hover {
    background-color: #0e76a8;
}
.socials ul li:nth-child(2) a:hover {
    background-color: #FFFFFF;
}
.socials ul li:nth-child(3) a:hover {
    background-color: #BB001B;
}
.socials ul li:nth-child(4) a:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}