@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
header {
	position: relative;
	max-width: 1200px;
	margin: 20px auto;
	padding: 10pox;
	background: #fff;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.name {
	color: #0288d1;
	height: 50px;
	font-size: 40px;
	line-height: 60px;
	padding: 0 20px;
	background: white;
	text-align: center;
	box-sizing: border-box;
	float: left;
	font-weight: 700;
	text-decoration: none;
	font-family: monospace;
}
nav {
	float: right;
}
.clearfix {
	clear: both;
}
nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li {
	list-style: none;
}
nav ul li a {
	display: block;
	margin: 10px 0;
	padding: 10px 20px;
	text-decoration: none;
	color: #262626;
}
nav ul li a.active, nav ul li a:hover {
	background: #03a9f4;
	color: #fff;
	transition: 0.5s;
}